/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
// @import './example';
@import "./base/rezet";
@import "./base/common";
@import "./utils/variables";
@import "./utils/visually-hidden";
@import "./components/button";
@import "./components/container";
@import "./components/logo";
/*@import "./components/modal";
@import "./components/mobile-menu";
@import "./components/mobmodal";
@import "./components/link";*/
@import "./layout/header";
@import "./layout/hero";
@import "./layout/filter";
/*@import "./layout/about";
@import "./layout/advantages";
@import "./layout/continuation";
@import "./layout/biography";
@import "./layout/documents";
@import "./layout/course";
@import "./layout/gallery";
@import "./layout/reviews";
@import "./layout/feedback";
@import "./components/scrollup";
@import "./components/modalbuy";
@import "./components/kodal";
@import "./layout/footer";
@import "./components/btntel";*/
