.hero {
  padding-top: 46px;
  padding-bottom: 101px;
  width: 375px;
  
  //height: 220px;
  
    &__overlay {
    margin: 0 auto;
    // position: relative;
  //position:absolute;
  background-image: url(../images/mob/prapor-ukraine.png),
      url(../images/mob/red-black-min.png);
    background-position: 0px 0px, 0px 231px;
    background-repeat: no-repeat;
    
      &::before {
          position: absolute;
          content: "";
          width: 375px;
          height: 463px;
                    bottom: -80px;
           background-image: url(../images/mob/trizub1-mob.png);
          background-repeat: no-repeat;
          opacity: 0.5;
        } }
  &__container {
    position: relative;
    text-align: center;
    //margin-left: auto;
    //margin-right: auto;
    width: 306px;
    margin-left: 33px;
   /* &::after {
      position: absolute;
      content: "";
      width: 55px;
      height: 31px;
      right: 10px;
      bottom: -104px;
     // background-image: url(../images/icons/MaskGroupm.svg);
      background-repeat: no-repeat;
    }
    &::before {
      position: absolute;
      content: "";
      width: 55px;
      height: 31px;
      right: 10px;
      bottom: -80px;
     // background-image: url(../images/icons/MaskGrouptopm.svg);
      background-repeat: no-repeat;
    }*/
  }
  &__title {
    font-weight: bold;
    font-size: 30px;
    line-height: 43px;
    text-align: center;
    text-transform: uppercase;
    -webkit-text-stroke: 1px var(--h1-color);
    -webkit-text-fill-color: transparent;
    text-shadow: 0 -16px 0 var(--shadtitle-color);
    margin-bottom: 13px;
    
        &--end {
      font-weight: 600;
      font-size: 16px;
      line-height: 116%;
      text-align: center;
      color: var(--white-color);
      margin-bottom: 39px;
    }
  }
  &__slogan {
    font-family: cursive;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: chartreuse;
    margin-bottom: 15px;
  }
  &__call {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: chartreuse;
    margin-bottom: 22px;
  }
  &__list {
    position: relative;
    left: 108px;
    bottom: -65px;
    display: flex;
    
  }

  &__link {
    
    font-size: 12px;
    line-height: 17px;
    padding: 3px 15px;
    color: var(--link-color);
    background-color: var(--white-color);
    border-radius: 4px;
  }
  &__link--red {
    
    height: 24px;
    color: var(--white-color);
    background-color: var(--red-color);
  }
}
