.products {
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 768px) {
        padding-bottom: 112px;
    }
    padding-top: 121px;
    padding-bottom: 98px;
    text-align: center;
}

.products__slogan {
    //margin-bottom: 114px;
    //@media screen and (min-width: 768px) {
    //  margin-bottom: 150px;
    //}
    &--first {
        font-family: Titan One;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        text-transform: uppercase;
        color: #ffa5ba;
        margin-bottom: 15px;
        @media screen and (min-width: 768px) {
            font-size: 26px;
            line-height: 30px;
        }
        @media screen and (min-width: 1200px) {
            font-size: 30px;
            line-height: 34px;
        }
    }
    &--second {
        font-family: Titan One;
        font-size: 34px;
        line-height: 39px;
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #d41443;
        margin-bottom: 144px;
        @media screen and (min-width: 768px) {
            font-size: 48px;
            line-height: 55px;
            margin-bottom: 158px;
        }
        @media screen and (min-width: 1200px) {
            font-size: 58px;
            line-height: 66px;
            margin-bottom: 259px;
        }
    }
}

.products__list {
    @media screen and (min-width: 768px) {
        display: flex;
    }
    position: relative;
    margin: 0 auto;
}

.products__item {
    margin: 0 auto;
    position: relative;
    width: 280px;
    //min-height: 485px;
    border-radius: 24px;
    padding: 161px 39px 41px 41px;
    @media screen and (min-width: 768px) {
        width: 220px;
        margin: 0;
        //height: 485px;
        padding: 152px 11px 40px 11px;
    }
    @media screen and (min-width: 1200px) {
        width: 330px;
        margin: 0;
        //height: 585px;
        padding: 163px 44px 50px 44px;
    }
    &--title {
        font-family: Titan One;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #ffffff;
        margin-bottom: 30px;
        @media screen and (min-width: 1200px) {
            font-size: 30px;
            line-height: 34px;
        }
    }
    &--cream {
        background-color: #ffb8ca;
        &::before {
            animation: animate125 3000ms infinite 1000ms;
            content: "";
            display: block;
            @media screen and (min-width: 768px) {
                width: 220px;
                height: 226px;
                top: -105px;
                left: 2px;
                background-image: url(../images/compr768/ice-cream-1x-min.png);
            }
            @media screen and (min-width: 1200px) {
                width: 335px;
                height: 335px;
                top: -208px;
                left: 2px;
                background-image: url(../images/compr1280/ice-cream-1x-min.png);
            }
            width: 249px;
            height: 252px;
            position: absolute;
            top: -119px;
            left: 16px;
            background-image: url(../images/compr480/ice-cream-1x-min.png);
        }
    }
    &--coffee {
        background: #f0d1a5;
        &::before {
            animation: animate50 3000ms infinite 1000ms;
            content: "";
            display: block;
            @media screen and (min-width: 768px) {
                width: 220px;
                height: 233px;
                top: -110px;
                left: 2px;
                background-image: url(../images/compr768/ice-coffee-1x-min.png);
            }
            @media screen and (min-width: 1200px) {
                width: 337px;
                height: 335px;
                top: -208px;
                left: 2px;
                background-image: url(../images/compr1280/ice-coffee-1x-min.png);
            }
            width: 249px;
            height: 252px;
            position: absolute;
            top: -115px;
            left: 16px;
            background-image: url(../images/compr480/ice-coffee-1x-min.png);
        }
    }
    &--milk {
        background: #c2e297;
        &::before {
            animation: animateX25 3000ms infinite 1000ms;
            content: "";
            display: block;
            @media screen and (min-width: 768px) {
                width: 220px;
                height: 224px;
                top: -103px;
                left: 2px;
                background-image: url(../images/compr768/milkshakes-1x-min.png);
            }
            width: 249px;
            height: 252px;
            position: absolute;
            top: -115px;
            left: 16px;
            background-image: url(../images/compr480/milkshakes-1x-min.png);
            @media screen and (min-width: 1200px) {
                width: 335px;
                height: 335px;
                top: -208px;
                left: 2px;
                background-image: url(../images/compr1280/milkshakes-1x-min.png);
            }
        }
    }
    &:not(:last-child) {
        margin-bottom: 120px;
        @media screen and (min-width: 768px) {
            margin-bottom: 0;
            margin-right: 20px;
        }
        @media screen and (min-width: 1200px) {
            margin-right: 23px;
        }
    }
    &--icon {
        margin: 0 auto 30px;
    }
    &--text {
        margin-bottom: 30px;
        font-family: DM Sans;
        font-weight: bold;
        font-size: 14px;
        line-height: 152%;
        text-align: center;
        letter-spacing: 0.04em;
        color: #ffffff;
    }
    &--button {
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        border: none;
        background-color: #fff;
    }
    &--button-icon {
        width: 15px;
        height: 15px;
        fill: #d41443;
    }
}

@keyframes animate125 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1);
    }
}

@media screen and (min-width: 768px) {
    @keyframes animate125 {
        0% {
            transform: translate (0, 0);
        }
        25% {
            transform: translate(-25px, -25px);
        }
        50% {
            transform: translate(0, 0);
        }
        75% {
            transform: translate(25px, -50px);
        }
        100% {
            transform: translate(0, 0);
        }
    }
}

@keyframes animate50 {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(0.5);
    }
    50% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@media screen and (min-width: 768px) {
    @keyframes animate50 {
        0% {
            transform: translate (0, 0);
        }
        25% {
            transform: translate(-25px, -25px);
        }
        50% {
            transform: translate(0, 0);
        }
        75% {
            transform: translate(25px, -50px);
        }
        100% {
            transform: translate(0, 0);
        }
    }
}

@keyframes animateX25 {
    0% {
        transform: translate (0, 0);
    }
    25% {
        transform: translate(-25px, -25px);
    }
    50% {
        transform: translate(0, 0);
    }
    75% {
        transform: translate(25px, -50px);
    }
    100% {
        transform: translate(0, 0);
    }
}