:root {
  --bgcon-color: #1789ed;
  --bgfoo1-color: #8cc4e7;
  --ttrev-color: #002d53;
  --brdr-color: #7538ff;
  --yellou-color: #fdc812;
  --sgntr-color: #ea557b;
  --span-color: #260e4d;
  --name-color: #fa3465;
  --blue-color: #0088fe;
  --prfctxt-color: #22303b;
  --red-color: #f93264;
  --link-color: #595858;
  --endtxt-color: #00213c;
  --sltxt-color: #152836;
  --white-color: #ffffff;
  --black-color: #000000;
  --shadtitle-color: #1c2d59;
  --bg-color: rgba(255, 245, 246, 1);
  --cntnt-color: rgba(212, 20, 67, 1);
  --abttl-color: #ffa5ba;
  --abprvw-color: #d41443;
  --abtxt-color: #907e82;
  --advbg-color: #fff5f6;
  --bgheher-color: #ffb8ca;
  --ttlhh-color: #ffffff;
  --bgfcs-color: #ecebeb;
  --bgcf-color: #f0d1a5;
  --bgfd-color: #c2e297;
  //--brdr-color: #e1e1e1;
  --bgbtn-color: #d41342;
  --bglnk-color: #fea5bb;
  --bgsgntr-color: #fafafa;
  --bgscrll-color: rgba(88%, 47%, 57%, 0.6);
  --h1-color: rgba(255, 255, 255, 0.7);
}
